<div class="main-toolbar">
  <mat-toolbar>
    <div class="flex">
      <div class="title-res align-center">
        <p>Medical research in Latin America</p>
      </div>
      <div class="profile-side">
        <div class="shared-div">
          <button mat-button>
            <mat-icon> menu </mat-icon>
            Shared
          </button>
        </div>
        <div class="notf align-center">
          <div class="alert-icon align-center">
            <span class="material-symbols-outlined pointer">
              notifications
            </span>
          </div>
        </div>
        <div class="profile">
          <div class="image">
            <div class="pic pointer">
              <img src="/assets/images/Avatar.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
